<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  IgnorableNamespaces="uap rescap uap4 iot uap3 mp">

  <Identity
    Name="51169DalaInc.WingmanAICodingAssistant"
    Publisher="CN=AB834B4E-2474-4030-A208-26BD127DFBF8"
    Version="0.1.11.0" />

  <Properties>
    <DisplayName>Wingman AI Coding Assistant</DisplayName>
    <PublisherDisplayName>Dala Inc.</PublisherDisplayName>
    <Logo>Assets\wingman.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0"
      MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0"
      MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Wingman AI Coding Assistant"
        Description="None"
        BackgroundColor="white"
        Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\wingman - Copy.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square310x310Logo="Assets\wingman - Copy.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <uap4:Capability Name="userDataTasks"/>
    <iot:Capability Name="lowLevelDevices"/>
    <Capability Name="internetClient"/>
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <DeviceCapability Name="lowLevel"/>
    <DeviceCapability Name="microphone"/>
  </Capabilities>

</Package>